@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.listItem {
    font-size: var(--font-medium);
    /* margin: 2rem; */
    font-family: 'Pacifico', cursive;
}



.listItem p {
    font-weight: 400;
}

.characterDetailLine {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-medium);
}

hr {
    margin: 0;
    margin-bottom: 3px;
}

.marginRight {
    margin-right: 10px;
}

.cardText {
    margin-right: 30px;
    font-weight: 600 !important;
    color: #484848;

}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    width: 26rem !important;
    height: 485px;
    margin-bottom: 4rem;
    overflow: hidden !important;
    transition: var(--transition-secondary);
}

.cardImg {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 100%;
    height: 250px;
    cursor: pointer;
    /* object-fit: unset; */
    object-fit: cover !important;
    transition: var(--transition-secondary);
}

.cardImg:hover {
    transition: var(--transition-secondary);
    height: 330px !important;
}

.cardTitle {
    font-weight: bold;
    font-size: var(--font-large);
}


@media (min-width:1519px) {
    .listItem {
        /* margin-right: 2rem; */
    }
}

@media screen and (max-width: 600px) {

    .card {
        width: 30rem !important;
    }
}

@media screen and (max-width: 396px) {

    .card {
        width: 27rem !important;
    }
}