html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: #000 !important;
  font-weight: 400 !important;
}

body,
*::after,
*,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

body {
  color: var(--text);
}


a {
  text-decoration: none;
}

/* Colors */
:root {
  --background: black;

  --primary: #fff;
  --secondary: #000;
  --text: #fff;
  --alert: #e50914;

  --background-secondary: #222222;

  --font-extra-large: 2.4rem;
  --font-large: 1.6rem;
  --font-medium: 1.4rem;
  --font-small: 1.2rem;

  --box-shadow-light: 2px 2px 8px rgba(255, 255, 255, 0.4);

  --transition-common: all 0.15s linear !important;

  --border-common: 1px solid #fff;
  --border-secondary: 2px solid #fff;

}

.fontBold {
  font-weight: 600;
}

button {
  cursor: pointer !important;
}